<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A playful-yet-disciplined woman in tech who found a second passion in teaching fitness.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Discovering a new hobby</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A famous supermodel inspired me to try Barre in Sydney in early 2015. Barre sounded different to all the other forms of exercise I knew about; I was intrigued by its claims to improve one's physique through a mixture of yoga, Pilates and ballet moves. I fell in love with it instantly; I took Barre classes at least three times a week and my body and movement changed dramatically for the better. Later that year, my husband asked out of the blue, "as you enjoy Barre so much, why don't you study to become a Barre instructor? I just saw an email saying that your studio is offering a course, and it's happening just before we leave for London..."</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">The birth of 'Strengthen and Lengthen'</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Settled in London, I qualified for my Barre instructor certification and began teaching a floor-based group Barre class at Sky Health and Fitness Centre, UK's largest corporate gym - the perfect place to hone my teaching skills whilst working my day job in tech. I combined my learnings with my favourite bits of vinyasa yoga, Pilates and calisthenics, to show that one can develop strength and flexibility in a fun way without building bulk.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">Entering the world of Pilates</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Craving my next teaching challenge, I studied to become a STOTT Pilates Mat certified instructor. I was drawn to its foundations in exercise science, and heavy emphasis on technique and knowledge of anatomy. Furthermore, it appeared to compliment my style of thinking and the studies I had already undertaken. I qualified in late 2018 and have been teaching private and group classes ever since.</p>
                                </div>
                            </div>
                        </li>
                        <!-- ACS: removed fourth list element -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of The
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>